
.tb{padding:20px;} 

.imgpic{width:280px;
margin:5px;
height:250px;
}

.div
{width:320px;
height:350px;


float:left;
display:block;
font-size:none;color:#006633;font-family:Georgia, "Times New Roman", Times, serif;
}

@charset "utf-8";
/* CSS Document */

.pics{

align: left;
}

#pic{
margin: 2px;} 


  .fakeimg {
    height: 200px;
    background: #FFFFFF;
  }
 
  
  #page {
	width: 754px;
	margin: 0 auto;
	padding-top: 20px;
}
.container
{
width:33%,33%,33%;
}

.row
{width:50%,50%;
}

<!-- menu bar-->
.topnav {
  overflow: hidden;
  background-color:#FFFFCC;
  voice-family:inherit;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  img: center;
  padding: 2px 30px;
  
 
}

.topnav a:hover {
  background-color:#FFCC99;
  color: black;
}

.topnav a.active {
  background-color:#FFCC99;
  color: white;
}

<!-- end of code-->
element.style {
    margin-bottom: 0;
}
.text-center {
    text-align: center;
}

.media (min-width: 576px);

.jumbotron {
    padding: 4rem 2rem;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #9999CC;
    border-radius: .3rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}

<!--animation car -->
cars {
	background-image:url(image/backg-01.svg);
	background-size: cover;
	background-position: 0px -250px;
	
}

.wrapper {
	margin:20em auto 20em auto;
	width:50%;
	position:inherit;
}

.car {
	animation-name: slide;
	animation-duration: 6s;
	animation-timing-function: cubic-bezier(.41,.07,.62,.91) ;
	animation-fill-mode:forwards;
	animation-direction: alternate;
	animation-iteration-count: 6;
}

@keyframes slide {
	0%{transform: translateX(0);}
	20% {transform:translateX(0px);}
	35% {transform:translateX(0);}
	90% {transform: translateX(1300px);}
	100% {transform: translateX(1250px);}

}


